/*
  Red AB0C2F
  Blue 0076A5
  LIght Grey C8C9C7
  Dark Grey 888B8D
  Black 000000
  White 
  Font: 1. Metric 2. Lyon 3. Arial / Georgia
*/

body {
    font-family: Syne;
    text-align: center;
    background-color: white;
    margin: 0;
    display: grid;
    grid-template-rows: 60px 1fr 30px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  header,
  footer {
    background-color: #888b8d;
  }
  
  h1 {
    margin: 0;
    padding: 10px;
    color: #ab0c2f;
  }
  
  footer {
    font-style: italic;
  }
  