/*
  Red AB0C2F
  Blue 0076A5
  Light Grey C8C9C7
  Dark Grey 888B8D
*/

html,
body {
  font-family: Syne;
  text-align: center;
  background-color: #0076a5;
  margin: 0;
  height: 100%;
}

div {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header,
footer {
  background-color: #ab0c2f;
}

img {
  margin: 16px;
  max-height: 36px;
  padding: 5px;
  transition: max-height 2s, transform 2s;
}

img:hover {
  max-height: 100px;
  transform: rotate(360deg);
}

header {
  border-bottom-width: 1px;
  border-color: #888b8d;
  border-style: none none solid none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 16px;
  color: #000000;
  text-shadow: 2px 2px #888b8d;
}

footer {
  font-style: italic;
  border-top-width: 1px;
  border-style: solid none none none;
  color: #888b8d;
}

a {
  color: #888b8d;
}

button {
  border-radius: 5px;
  margin: 16px;
  padding: 5px;
  font-weight: 5px;
  background-color: #0076a5;
  color: #000000;
}

#helpBox {
  position: absolute;
  display: none;
  margin-top: 10%;
  margin-left: 30%;
  padding: 10px;
  min-height: fit-content;
  width: 40%;
  color: white;
  background-color: #000000;
  border-radius: 10px;
}